header{
    background-color: #9784ae;
    text-align: center;
    border: 2px solid;
    width: 50%;
    margin: auto;
}
#s{
    background-color: rgb(233, 197, 151);
    color: red;
}



#p1{
    color: rgb(155, 228, 30)
}

#p2{
    background-color: rgb(18, 179, 179);
}

#p3{
    color: rgb(237, 5, 5)
}

.p4{
    background-color: black;
    color: lch(83.58% 24.38 7.82);
}
.p5{
    background-color: #1e0eb0;
    color: rgb(212, 191, 191)
}

.secti{
    text-align: center;
}
#f1{
    display: inline-block;
    background-color:#891010;
    color: #24c419;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

#f2{
    background-color: antiquewhite;
    font-family: "lucida console";
    font: size 20px;
    font-style: italic;

}
#f3{
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    font-style:initial;
    color: #fdfdfd;
    background-color: rgb(54, 155, 158);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
nav{
    border: 2px solid hsla(0, 0%, 17%, 0.814);
    border-radius: 2rem;
    margin: 2rem auto 1rem;
    max-width: 600px;
    font-size: 2rem;
    line-height: 4rem;
}

#heading{
        background: hsla(350, 65%, 71%, 0.825);
        border-radius: 2rem 2rem 0 0;
}
ul{
    list-style-type: none;
}
li a{
    display: block;
}

li{
    border: 1px solid hsla(0, 0%, 17%, 0.351);
}

li a,
li a:visited{
            text-decoration: double;
            color: hsl(59, 91%, 44%);
}

li a:hover,
li a:focus{
            background-color: hsla(160, 76%, 28%, 0.758);
            color: hsl(0, 0%, 0%);
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}