body{
    background-color: #1a8317;
    text-align: center;
    border: 2px solid;
    width: 50%;
    margin: auto;
}
#s{
    background-color: burlywood;
    color: red;
}



#p1{
    color: rgb(155, 228, 30)
}

#p2{
    background-color: rgb(18, 179, 179);
}

#p3{
    color: rgb(237, 5, 5)
}

.p4{
    background-color: black;
    color: lch(83.58% 24.38 7.82);
}
.p5{
    background-color: #1e0eb0;
    color: rgb(212, 191, 191)
}

